@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --foreground: #FFFFFF;
}

body {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #8D0000;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #720000;
}
